@model CIC_WEB.Project

@{
    ViewBag.Title = "ProjectsDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <!-- slider Area Start-->
    <div class="slider-area ">
        <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="../../assets/img/hero/about.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap pt-100">
                            <h2>projects Details</h2>
                            <nav aria-label="breadcrumb ">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home",null)">Home</a></li>
                                    <li class="breadcrumb-item"><a href="#">projects Details</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <!-- Services Details Start -->
    <div class="services-details-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="single-services section-padding2">
                        <div class="details-img mb-40">
                            <img src="@Html.DisplayFor(model => model.Images)" alt="" style="height:544px;width:1170px">
                        </div>
                        <div class="details-caption">
                            <p>@Html.DisplayFor(model => model.NoiDung)</p>

                            <h3>Our main goal</h3>
                            <p class="mb-50">@Html.DisplayFor(model => model.OurMainGoal)</p>

                            <h3>Take a look to our challenges</h3>
                            <p>@Html.DisplayFor(model => model.OurChallenges)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Details End -->
</main>

